<nav>
    <section class="left">
        <img src="/images/task.svg" alt="">
        <h1>TodoApp</h1>
    </section>
    <section class="right">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/todo">Todo</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/profile"><img src="/images/user-circle (1).svg" alt="profile"></a></li>
        </ul>
    </section>
</nav>