@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS RESETS */
/* RESETTING SIZES and APPLYING FONT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* FOR BODY's RESPONSIVENESS*/
body {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
}

main {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* FOR IMAGE RESPONSIVENESS */
img {
    display: block;
    height: auto;
}

nav {
    height: auto;
    min-width: 100%;
    padding: 1rem;
    background: linear-gradient(to right, #A9D6E5, #D4E7D0);
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

nav .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

nav .left h1 {
    flex-grow: 1;
    text-align: center;
    color: azure;
    text-shadow: 0px 0px 10px black;
    text-wrap: wrap;
}

nav .left img {
    width: 25%;
    height: auto;
}

nav .right {
    flex-grow: 2;
    width: 70%;
    display: flex;
    align-items: center;
}

nav .right ul {
    width: 100%;
    list-style-type: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

nav .right ul li{
position: relative;
  list-style: none;
  display: inline-block;
  padding: 10px 15px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}


/*
.right{
    margin-left: auto;
    display: flex;
    gap: 1.5rem;
    padding-right: 1rem;
}

a:hover{
    color: #e3dddd;
}

a:active{
    color: #ccc;
} */


.add-todo {
    display: flex;
    align-items: center;
    width: 100%;
}

.add-todo input {
    height: auto; 
    padding:0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    width: 100%;
    border-radius: 0.5rem;
}

.add-todo input:focus {
    outline: none;
}

.add-todo button {
    height: clamp(40px,6vw,60px);
    width: 100%;
    padding: 0.3rem 1.5rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    /* text-shadow: 0px 0px 10px black; */
    background:linear-gradient(to right,#a4dff3,#b1f3a4);
    margin-top: 5%;
    font-size: 1.6rem;
    font-weight: bolder;
}

.todo-main {
    /* display: block; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    background-color: #DDE7E8;
}

.todo-main form {
    line-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 15px;
    max-width: 500px;
    padding: 2rem;
    height: clamp(250px,50%,250px);
    width: clamp(325px,70%,400px);
}

.todo-main form h1 {
    width: 100%;
    font-weight: bold;
    font-size: clamp(1.3rem,3vw,1.9rem);
    text-align: left;
}

.todo-main .add-todo {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.all-tasks-here {
    height: clamp(250px,50%,250px);
    display: flex;
    flex-direction: column;   
    width: clamp(325px,70%,400px);
    padding: 1.2rem;
    border-radius: 10px;
    background-color: white;
}