*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.right{
    margin-left: auto;
    display: flex;
    gap: 1.5rem;
    padding-right: 1rem;
}

a:hover{
    color: #e3dddd;
}

a:active{
    color: #ccc;
}